<% if (post.categories && post.categories.length){ %>
  <li class="li_time_box"><span class="glyphicon glyphicon-folder-close" style="font-size: 16px; float :left;"></span></li>
  <li class="li_time_box">
    <p class="p_time_box">
      <div class="article-category">
        <%- list_categories(post.categories, {
          show_count: false,
          class: 'article-category',
          style: 'none',
          separator: '»'
        }) %>
      </div>
    </p>
  </li>

<% } %>