<style>
    div#div_navigate_index{ display:none; }
</style>
<!-- container_top -->
<div class="container" id="id_main_conte" style="background: #FFF;">
    <div class="row" style="height: 400px; margin-top: 100px;">
        <div class="col-sm-6" style="text-align:center; ">
            <a href="/jp" class="btn-lg btn-primary">Japanese</a>
        </div>
        <div class="col-sm-6" style="text-align:center;">
            <a href="/en" class="btn-lg btn-primary">English</a>
        </div>
    </div>

</div>

