<style>
    div#div_navigate_post{ display:none; }
</style>
        <!-- container_top -->
<div id="div_img_main2"  class="cover" style="" valign="bottom">
    <div id="div_img_layer">
        <h1>software library <br />
            product-1
        </h1>
    </div>
</div>
<div class="container" id="id_main_conte">

<div class="row conte" id="id_row_service" style="margin-top:10px;">
    <div class="col-sm-12" style="text-align:center;">
    <h2 class="h4_td_title">library</h2>
    <hr class="hr_ex1"/>
    </div>
</div>
<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/rep1.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>library-A</h3>
    <p>detail information 1<br>
        detail information 2
    </p>
    </div>
</div>
<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/rep1.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>library-B</h3>
    <p>detail information 1<br>
        detail information 2
    </p>
    </div>
</div>
<!-- -->
<div class="row conte" style="margin-top:10px;">
    <div class="col-sm-12">
    <div id="div_news">
    <h2 class="h4_td_title" >New post</h2>
    </div>
    </div>
</div>
<div class="row conte">
    <div class="col-sm-12">
        <%- partial('_partial/article', {post: page, index: false}) %>
    </div>
</div>
<br />
<br />    
</div>

</div>


